# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vs/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db
/Todo.Api/src/.vs/TodoApi
/Todo.Api/src/bin/Debug/net10.0
/Todo.Api/src/obj
/Todo.Api/src/.vs/ProjectEvaluation
/Todo.Api/src/Todo.Api.Tests/obj
/Todo.Api/src/Todo.Api.Tests/bin/Debug/net10.0
/Todo.Api/src/.vs/TodoApi.slnx
/Todo.Api/src/Todo.Api/.vs
/Todo.Api/src/Todo.Api/bin/Debug/net10.0
/Todo.Api/src/Todo.Api/obj
